.odd-numbered {
    background-color: #FFC0EE;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-element {
    color: #1c29f1;
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#fourth-element {
    background-color: #c0ffb9;
    font-weight: bold;
}